---
layout: default
---
<section class="hero is-primary bgheader">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                Categories
            </h1>
            <h2 class="subtitle">
                Kartoffeln.
            </h2>
        </div>
    </div>
</section>
<section class="section is-paddingless-touch" style="padding:3rem 3%;text-align: center">
    <div class="container is-fluid">
        <aside class="menu">
            {% for category in site.categories %}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            <p class="menu-label" id="category-{{ category | first | slugize }}" style="font-size: x-large;text-align: left">
                {{ category | first }}
            </p>
            <!--<ul class="menu-list">-->
                {% for post in site.categories[category_name] %}
                <!--<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>-->
<!--
                
                    <div  style="text-align: center; max-width: 25rem; display:inline-block; margin:10px">
                        <div class="card post-card" style="text-align: center; max-width: 20rem; display:inline-block; margin:10px">
                            {% if post.thumbnail %}
                            
                            {% endif %}
                            
                            <div class="card-content">
                                <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                                <p class="post-categories">
                                    {% for category in post.categories %}
                                        <a href="/{{ category | prepend: site.baseurl }}" class="tagg {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{ category }}</a>
                                    {% endfor %}
                                </p>
                                {% if post.author %}
                                <br>
                                {% assign author = site.authors | where:"name", post.author  | first %}
                                <p><small><i>by <a href="{{ author.url }}">{{ author.name }} </a> on {{ post.date | date: '%B %-d, %Y' }}</i></small></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
-->


        <div class="box" style="max-width:100%; width: 30rem; display:inline-block; margin-left: .5rem;">
            <div class="media">
                <div class="media-left">
                    <a href="{{ author.url | prepend: site.baseurl }}">
                        <figure class="image is-128x128">
                            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                            <img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ author.name }}" 
                            style="object-fit: cover; overflow: hidden; min-width:100%; min-height: 100%;">
                        </figure>
                        </a>
                </div>
                <div class="media-content">
                    <div class="content">
                            <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                            
                            <p class="post-categories" style="display: inline;">
                                {% for category in post.categories %}
                                <a href="/{{ category | prepend: 'categories#category-' | prepend: site.baseurl }}" class="tagg {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{ category }}</a>
                                {% endfor %}
                            </p></h3>
                        {% if post.author %}
                        {% assign author = site.authors | where:"name", post.author  | first %}
                        <p><small><i>by <a href="{{ author.url }}">{{ author.name }} </a> on {{ post.date | date: '%B %-d, %Y' }}</i></small></p>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>









                {% endfor %}
            {% endfor %}
        </aside>
    </div></section>