---
layout: default
---
<section class="hero is-primary bgheader">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                {{ page.name }}
            </h1>
            <h2 class="subtitle">
                {{ page.bio }}
            </h2>
            <p>
                {% if page.permalink %}
                <a href="{{ page.url | prepend: site.baseurl }}">
                    <span class="icon">
                        <i class="fa fa-user"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.github %}
                <a href="https://github.com/{{ page.github }}">
                    <span class="icon">
                        <i class="fa fa-github"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.facebook %}
                <a href="https://facebook.com/{{ page.facebook }}">
                    <span class="icon">
                        <i class="fa fa-facebook"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.twitter %}
                <a href="https://twitter.com/{{ page.twitter}}">
                    <span class="icon ">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.instagram %}
                <a href="https://instagram.com/{{ page.instagram}}">
                    <span class="icon">
                        <i class="fa fa-instagram"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.tumblr %}
                <a href="https://tumblr.com/{{ page.tumblr}}">
                    <span class="icon">
                        <i class="fa fa-tumblr"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.personal-site %}
                <a href="{{ page.personal-site}}">
                    <span class="icon">
                        <i class="fa fa-link"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.linkedin %}
                <a href="https://linkedin.com/{{ page.linkedin}}">
                    <span class="icon">
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.stackoverflow %}
                <a href="https://stackoverflow.com/{{ page.stackoverflow}}">
                    <span class="icon">
                        <i class="fa fa-stack-overflow"></i>
                    </span>
                </a>
                {% endif %}
                {% if page.slack %}
                <a href="{{ page.slack}}">
                    <span class="icon">
                        <i class="fa fa-slack"></i>
                    </span>
                </a>
                {% endif %}
            </p>
            <!--
                <p class="post-categories">
                    {% for category in page.categories %}
                    <a href="/{{ category | prepend: site.baseurl }}" style="color: #607D8B !important" class="tagg {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{ category }}</a>
                    {% endfor %}
                </p>
                <i><small>Posted by <a href="{{ page.link }}">{{ page.author }} </a> on {{ page.date | date: '%B %-d, %Y' }}</small></i>-->
            </div>
        </div>
    </section>

    <section class="section is-paddingless-touch">    <!-- remove style if not author -->
        <div class="container is-fluid">
            <img class="circular--square" src="{{ site.baseurl }}{{ page.image }}" />
            <br>
            <p class="title" style="text-align:center !important">{{ page.name }}</p>
            <br><br><br>
            <div class="content">
                {{ content }}
            </div>

            <br><br><br>
            <div>
                <h1 style="font-size: 2em; margin-bottom: .5em; color: #363636;">Posted by  {{ page.title }}</h1>
            <!--{% assign posts = site.posts | where: 'author', page.title %}
            {% for post in posts %}
              <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
              {% endfor %}-->

                <div style="text-align: center; ">
                {% assign posts = site.posts | where: 'author', page.title %}
                {% for post in posts %}
                    <div class="card post-card" style="text-align: center; max-width: 20rem; display:inline-block; margin:10px">

                        {% if post.thumbnail %}
                        <div class="card-image">
                            <figure class="image-card-home">
                                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                                    <img src="{{ post.thumbnail | prepend: site.baseurl }}" alt="{{ post.title }}">
                                </a>
                            </figure>
                        </div>
                        {% endif %}

                        <div class="card-content">
                            <h3 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
                            <p class="post-categories">
                                {% for category in post.categories %}
                                <a href="/{{ category | prepend: 'categories#category-' | prepend: site.baseurl }}" class="tagg {% if site.data.category[category].color %} is-{{ site.data.category[category].color }} {% endif %}">{{ category }}</a>
                                {% endfor %}
                            </p>
                            <!--{{ post.excerpt }}-->
                            {% if post.author %}
                            <br>
                            <p><small><i>{{ post.date | date: '%B %-d, %Y' }}</i></small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </section>

{% if site.author.show_on_post or page.comments %}
<div class="section" style="padding: 3rem 7% 3rem 7% !important">          <!-- remove style if not author -->
    <div class="container is-fluid">

        {% if page.author %}
        <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="{{ page.image }}" alt="{{ page.author }}">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ page.author }}</strong>
                            <br>
                            {{ page.bio }}
                        </p>
                    </div>
                    <p>
                        {% if page.github %}
                        <a href="https://github.com/{{ page.github }}">
                            <span class="icon is-small">
                                <i class="fa fa-github"></i>
                            </span>
                        </a>
                        {% endif %}
                        {% if page.facebook %}
                        <a href="https://facebook.com/{{ page.facebook }}">
                            <span class="icon is-small">
                                <i class="fa fa-facebook"></i>
                            </span>
                        </a>
                        {% endif %}
                        {% if page.twitter %}
                        <a href="https://twitter.com/{{ page.twitter}}">
                            <span class="icon is-small">
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                        {% endif %}
                        {% if page.instagram %}
                        <a href="https://instagram.com/{{ page.instagram}}">
                            <span class="icon is-small">
                                <i class="fa fa-instagram"></i>
                            </span>
                        </a>
                        {% endif %}
                        {% if page.tumblr %}
                        <a href="https://tumblr.com/{{ page.tumblr}}">
                            <span class="icon is-small">
                                <i class="fa fa-tumblr"></i>
                            </span>
                        </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

        {% if page.comments %}
        <div class="box">
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}