<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}" />

    {% if site.katex %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/katex.min.css" | prepend: site.baseurl }}">
    <script src="{{ "/assets/js/katex.min.js" | prepend: site.baseurl }}"></script>
    {% endif %}
    {% include mathjax.html %}
    {% seo %}

    <!-- Google Analytics -->
    {% if site.google_analytics %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');

    </script>
    {% endif %}

</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}" class="navbar-logo">
        </a>
        <a  style="font-variant: small-caps !important" href="{{ "/" | prepend: site.baseurl }}" class="navbar-item">
        {{ site.name }}
        </a>
        {% if site.social.github %}
        <a href="https://github.com/{{ site.social.github }}" class="navbar-item is-hidden-desktop">
        <span class="icon">
            <i class="fa fa-github"></i>
        </span>
        </a>
        {% endif %}
        <!--
        {% if site.social.email %}
        <a href="mailto:{{ site.social.email }}" class="navbar-item is-hidden-desktop">
        <span class="icon">
            <i class="fa fa-envelope-o"></i>
        </span>
        </a>
        {% endif %}
        -->
        {% if site.social.facebook %}
        <a href="https://facebook.com/{{ site.social.facebook }}" class="navbar-item is-hidden-desktop">
        <span class="icon">
            <i class="fa fa-facebook"></i>
        </span>
        </a>
        {% endif %}
        {% if site.social.twitter %}
        <a href="https://twitter.com/{{ site.social.twitter }}" class="navbar-item is-hidden-desktop">
        <span class="icon">
            <i class="fa fa-twitter"></i>
        </span>
        </a>
        {% endif %}
        {% if site.social.instagram %}
        <a href="https://instagram.com/{{ site.social.instagram }}" class="navbar-item is-hidden-desktop">
        <span class="icon">
            <i class="fa fa-instagram"></i>
        </span>
        </a>
        {% endif %}
        {% if site.social.tumblr %}
        <a href="https://{{ site.social.tumblr }}.tumblr.com" class="navbar-item is-hidden-desktop">
        <span class="icon">
            <i class="fa fa-tumblr"></i>
        </span>
        </a>
        {% endif %}
        {% if site.social.slack %}
        <a href="{{ site.social.slack}}" class="navbar-item is-hidden-desktop">
          <span class="icon">
            <i class="fa fa-slack"></i>
          </span>
        </a>
        {% endif %}
        <div class="navbar-burger burger" data-target="navMenubd-main">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenubd-main" class="navbar-menu">
        <div class="navbar-start">
          <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-item {% if page.url == "/" %} is-active {% endif %}">
          Home
          </a> 
          <a href="{{ "/categories" | prepend: site.baseurl }}" class="navbar-item {% if page.url == "/categories/" %} is-active {% endif %}">
          Categories
          </a>
          <a href="{{ "/about" | prepend: site.baseurl }}" class="navbar-item {% if page.url == "/about/" %} is-active {% endif %}">
          About
          </a>
        </div>
        <div class="navbar-end">
          {% if site.social.github %}
          <a href="https://github.com/{{ site.social.github }}" class="navbar-item is-hidden-desktop-only">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span>
          </a>
          {% endif %}
          <!--
          {% if site.social.email %}
          <a href="mailto:{{ site.social.email }}" class="navbar-item is-hidden-desktop-only">
          <span class="icon">
              <i class="fa fa-envelope-o"></i>
          </span>
          </a>
          {% endif %}
          -->
          {% if site.social.facebook %}
          <a href="https://facebook.com/{{ site.social.facebook }}" class="navbar-item is-hidden-desktop-only">
          <span class="icon">
              <i class="fa fa-facebook"></i>
          </span>
          </a>
          {% endif %}
          {% if site.social.twitter %}
          <a href="https://twitter.com/{{ site.social.twitter }}" class="navbar-item is-hidden-desktop-only">
          <span class="icon">
              <i class="fa fa-twitter"></i>
          </span>
          </a>
          {% endif %}
          {% if site.social.instagram %}
          <a href="https://instagram.com/{{ site.social.instagram }}" class="navbar-item is-hidden-desktop-only">
          <span class="icon">
              <i class="fa fa-instagram"></i>
          </span>
          </a>
          {% endif %}
          {% if site.social.tumblr %}
          <a href="https://{{ site.social.tumblr }}.tumblr.com" class="navbar-item is-hidden-desktop-only">
          <span class="icon">
              <i class="fa fa-tumblr"></i>
          </span>
          </a>
          {% endif %}
          {% if site.social.slack %}
          <a href="{{ site.social.slack}}" class="navbar-item is-hidden-desktop-only">
            <span class="icon">
              <i class="fa fa-slack"></i>
            </span>
          </a>
          {% endif %}
          <!--<div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="bd-tw-button button"
                  data-social-network="Twitter"
                  data-social-action="tweet"
                  data-social-target="https://twitter.com/{{ site.social.twitter }}"
                  target="_blank"
                  href="https://twitter.com/intent/tweet?text=Very nice&url={{site.url}}{{site.baseurl}}&via={{ site.social.twitter }}">
                  <span class="icon">
                    <i class="fa fa-twitter"></i>
                  </span>
                  <span>
                    Tweet
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-primary" href="{{ site.download }}">
                  <span class="icon">
                    <i class="fa fa-download"></i>
                  </span>
                  <span>Download</span>
                </a>
              </p>
            </div>
          </div>-->
        </div>
      </div>

    </nav>
  </div>

{{ content }}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Copyright © pumpkin lemma 2018. <br>Fuckin follow
            </p>
            <p>
                {% if site.social.github %}
                <a class="icon" href="https://github.com/{{ site.social.github }}">
                    <i class="fa fa-github"></i>
                </a>
                {% endif %}
                {% if site.social.email %}
                <a class="icon" href="mailto:{{ site.social.email }}">
                    <i class="fa fa-envelope-o"></i>
                </a>
                {% endif %}
                {% if site.social.facebook %}
                <a class="icon" href="https://facebook.com/{{ site.social.facebook }}">
                    <i class="fa fa-facebook"></i>
                </a>
                {% endif %}
                {% if site.social.twitter %}
                <a class="icon" href="https://twitter.com/{{ site.social.twitter }}">
                    <i class="fa fa-twitter"></i>
                </a>
                {% endif %}
                {% if site.social.instagram %}
                <a class="icon" href="https://instagram.com/{{ site.social.instagram }}">
                    <i class="fa fa-instagram"></i>
                </a>
                {% endif %}
                {% if site.social.tumblr %}
                <a class="icon" href="https://{{ site.social.tumblr }}.tumblr.com">
                    <i class="fa fa-tumblr"></i>
                </a>
                {% endif %}
                {% if site.social.slack %}
                <a class="icon" href="{{ site.social.slack}}">
                  <i class="fa fa-slack"></i>
                </a>
                {% endif %}
            </p>
        </div>
    </div>
</footer>

<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ site.baseurl }}{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
<script>
    $('.nav-toggle').bind('click', function(){
        var menus = $(this).siblings(".nav-menu");
        if(menus.hasClass('is-active')){
            menus.removeClass('is-active');
        } else {
            menus.addClass('is-active');
        }
    });
</script>
<script>
(function() {
    var d = document, s = d.createElement('script');
    s.src = '//https-pumpkinlemma-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
</body>
</html>
